/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap");
.body {
  width: 500px;
  background-image: url(/assets/img/sfondo.png);
  font-family: "Poppins", sans-serif;
}
/* HEADER */
.header {
  width: 450px;
  background-color: #0099bb;
  text-align: center;
  margin: 10px;
  padding-block: 35px;
}
.menu {
}
/* MAIN */
.main {
  width: 450px;
  margin-inline: auto;
  background-color: white;
  border: 1px solid gray;
}

.articolo {
  padding-inline: 10px;
}
.main h1 {
  font-size: 45px;
  margin: 10px;
}
.articolo * {
  margin: 10px;
}
.articolo strong {
  color: violet;
}

.video {
  text-align: center;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
th,
tr,
td {
  border: 1px, solid black;
  text-align: center;
}
li {
  padding-inline: 20px;
}
/* FORM */
.form {
}
/* ELEMENTI NELL' ASIDE */
.correlati {
  width: 400;
  background-color: #ddddde;
  padding: 20px;
  margin: 20px;
}
/* FOOTER */
.footer {
  width: 450px;
  margin-inline: auto;
  text-align: center;
  color: white;
  background-color: #005566;
}
